<?xml version="1.0" encoding="UTF8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--在namespace上需要绑定接口地址-->
<mapper namespace="com.boshen.dao.UserDao">
    <resultMap id="map1" type="User">
        <result column="pwd" property="possword"></result>
    </resultMap>

    <select id="getUserList" resultMap="map1">
        select * from user
    </select>

    <select id="getUserById" parameterType="int" resultType="com.boshen.pojo.User">
        select * from user where id =#{id};
    </select>
    
    <insert id="insertUser" parameterType="com.boshen.pojo.User">
        insert into user(id,name,pwd) value(#{id},#{name},#{pwd})
    </insert>
    <insert id="insertUser2" parameterType="map">
        insert into user(id,name,pwd) value(#{mapId},#{mapName},#{mapPwd})
    </insert>

    <select id="searchUserLike" resultType="com.boshen.pojo.User" parameterType="String">
        select * from user where name like #{value};
    </select>

<!--    分页实现-->
    <select id="getUserByLimit" parameterType="map" resultType="user">
        select * from user limit #{startIndex},#{pageSize}
    </select>
</mapper>